.sub-heading {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5c5c5c;
  letter-spacing: 1.2px;
}

.primary-heading {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-bottom: 0.2em;
}
