.img-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em 0;
  margin: 0 auto;
  width: 1000px;
}

.slick-arrow {
  color: #000;
}
.slick-next {
}

.slick-prev {
  left: -22px;
}

.slick-next {
  right: -6px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: rgb(0, 0, 0);
  padding: 0.4em;
}

.slick-track,
.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.carousel-img {
  width: 100%;
}

@media (min-width: 700px) {
  .carousel-img {
    width: 180px;
    align-items: center;
  }

  .slick-prev {
    left: -28px;
  }

  .slick-next {
    right: -6px;
  }
}

@media (min-width: 1000px) {
  .carousel-img {
    width: 250px;
    align-items: center;
  }
}
